# Exercício 3: Implementar o KNNRegressor com RMSE

### **Aluno:** Alexandre Areias Castro PG45962

## Exercício 3

#### 3.1) Adiciona a métrica RMSE (RMQE em português) ao sub-package metrics. Deves criar um módulo chamado rmse.py.

#### 3.2) Considera a estrutura da função rmse apresentada no diapositivo seguinte.

#### 3.2) Adiciona o objeto KNNRegressor ao sub-package neighbors. Deves criar um módulo chamado knn_regressor.py para implementar este objeto.

#### 3.3) Considera a estrutura do objeto KNNRegressor apresentada no diapositivo seguinte.

#### 3.4) Podes testar o objeto KNNRegressor num jupyter notebook usando o dataset cpu.csv (regressão)

In [1]:
import sys
sys.path.append("/Users/alexandre/Documents/Mestrado/2º Ano/SIB/si/src")
from si.neighbors.knn_regressor import KNNRegressor
from si.model_selection.split import train_test_split
from si.io.csv import read_csv
from si.statistic.euclidean_distance import euclidean_distance

In [2]:
cpu_path = "/Users/alexandre/Documents/Mestrado/2º Ano/SIB/si/datasets/cpu.csv"
cpu = read_csv(cpu_path, features=True, label=True)
cpu.print_dataframe()

/Users/alexandre/Documents/Mestrado/2º Ano/SIB/si/src/si/io/csv.py:18: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  dataframe = pd.read_csv(filename, sep)

     syct  mmin   mmax  cach  chmin  chmax
198   125   256   6000   256     16    128
269    29  8000  32000    32      8     32
220    29  8000  32000    32      8     32
172    29  8000  32000    32      8     32
132    29  8000  16000    32      8     16
..    ...   ...    ...   ...    ...    ...
42    124  1000   8000     0      1      8
46     98  1000   8000    32      2      8
52    125  2000   8000     0      2     14
67    480   512   8000    32      0      0
45    480  1000   4000     0      0      0

[209 rows x 6 columns]

In [3]:
train, test = train_test_split(cpu)

In [4]:
knnr = KNNRegressor(k=2, distance=euclidean_distance)
knnr.fit(train)

In [5]:
knnr.score(test)

(61.366501945080834+0j)

## Teste do objeto KNNClassifier

In [6]:
from si.neighbors.knn_classifier import KNNClassifier

knnc = KNNClassifier(k=2, distance=euclidean_distance)
knnc.fit(train)

In [7]:
knnc.score(test)

0.04878048780487805

#### Using the iris.csv dataset

In [9]:
iris_path = "/Users/alexandre/Documents/Mestrado/2º Ano/SIB/si/datasets/iris.csv"
iris = read_csv(iris_path, features = True, label = True)
iris.print_dataframe()

/Users/alexandre/Documents/Mestrado/2º Ano/SIB/si/src/si/io/csv.py:18: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  dataframe = pd.read_csv(filename, sep)

                sepal_length  sepal_width  petal_length  petal_width
Iris-setosa              5.1          3.5           1.4          0.2
Iris-setosa              4.9          3.0           1.4          0.2
Iris-setosa              4.7          3.2           1.3          0.2
Iris-setosa              4.6          3.1           1.5          0.2
Iris-setosa              5.0          3.6           1.4          0.2
...                      ...          ...           ...          ...
Iris-virginica           6.7          3.0           5.2          2.3
Iris-virginica           6.3          2.5           5.0          1.9
Iris-virginica           6.5          3.0           5.2          2.0
Iris-virginica           6.2          3.4           5.4          2.3
Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [10]:
train2, test2 = train_test_split(iris)

In [14]:
knnc2 = KNNClassifier(k=2, distance=euclidean_distance)
knnc2.fit(train2)

In [15]:
knnc2.score(test2)

1.0